.one {
    background-color: #e687ce;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
.one.extra {
    font-size: 24px;
}
.two {
    color: #0011ff;
    font-size: 36px;
}
.four {
    background-color: #7fffd4;
    font-size: 24px;
    font-weight: bold;
}





The second element: blue text and a font size of 36px

The fourth element: a light green background, a font size of 24px, and bold