body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 30px;
  margin: 10px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin-bottom: 0px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  margin-right: auto;
  margin-top: 40px;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;

}